In [1]:
import pandas as pd
import os

# this is to prepare Outcomes from NHS Medical Prescription data

In [2]:
data_folder = '../data/outcomes/'

## diabetes

In [3]:
condition = 'diabetes'
f = 'yearly_prescriptions_{}.csv'.format(condition)
prescriptions = pd.read_csv(data_folder + f).rename(columns={'WD18CD':'ward_code'})

df_diabetes = prescriptions[prescriptions['year']==2020]

df_diabetes=df_diabetes[['LSOA_CODE', 'Total_quantity_per_capita']].rename(\
            columns={'Total_quantity_per_capita':\
                     'Total_quantity_per_capita'.replace('Total', condition)})

df_diabetes.head()

        LSOA_CODE  diabetes_quantity_per_capita
164186  E01000001                      0.834958
164187  E01000002                      0.957987
164188  E01000003                      1.532698
164189  E01000005                      0.918772
164190  E01000006                     33.986967

## opioids

In [4]:
condition = 'opioids'
f = 'yearly_prescriptions_{}.csv'.format(condition)
prescriptions = pd.read_csv(data_folder + f).rename(columns={'WD18CD':'ward_code'})

df_opioids = prescriptions[prescriptions['year']==2020]

df_opioids=df_opioids[['LSOA_CODE', 'Total_quantity_per_capita', 'OME_per_capita']].rename(\
            columns={'Total_quantity_per_capita':\
                     'Total_quantity_per_capita'.replace('Total', condition)})

df_opioids.head()

        LSOA_CODE  opioids_quantity_per_capita  OME_per_capita
164186  E01000001                     0.129840        1.134302
164187  E01000002                     0.276066        2.587085
164188  E01000003                     0.592661        5.072608
164189  E01000005                     0.250619        2.218236
164190  E01000006                     4.982723      191.202486

## total prescriptions

In [5]:
# f = 'total_prescriptions_V4.csv' 
# DF = pd.read_csv(data_folder + f)
# df_total = DF[DF['YYYYMM']==202101]
# del df_total['Patient_count']
# len(df_total)

In [6]:
condition = 'total'
f = 'yearly_prescriptions_{}.csv'.format(condition)
prescriptions = pd.read_csv(data_folder + f).rename(columns={'WD18CD':'ward_code'})

df_total = prescriptions[prescriptions['year']==2020]

df_total=df_total[['LSOA_CODE', 'Total_quantity_per_capita']].rename(\
            columns={'Total_quantity_per_capita':\
                     'Total_quantity_per_capita'.replace('Total', condition)})

df_total.head()

        LSOA_CODE  total_quantity_per_capita
164186  E01000001                  13.827180
164187  E01000002                  20.134107
164188  E01000003                  36.871135
164189  E01000005                  24.657966
164190  E01000006                 545.239412

# Asthma

In [7]:
condition = 'asthma'
f = 'yearly_prescriptions_{}.csv'.format(condition)
prescriptions = pd.read_csv(data_folder + f).rename(columns={'WD18CD':'ward_code'})

df_asthma = prescriptions[prescriptions['year']==2020]

df_asthma=df_asthma[['LSOA_CODE', 'Total_quantity_per_capita']].rename(\
            columns={'Total_quantity_per_capita':\
                     'Total_quantity_per_capita'.replace('Total', condition)})

df_asthma.head()

        LSOA_CODE  asthma_quantity_per_capita
164186  E01000001                    0.139674
164187  E01000002                    0.203468
164188  E01000003                    0.361956
164189  E01000005                    0.359229
164190  E01000006                    5.155322

# Hypertension

In [8]:
condition = 'hypertension'
f = 'yearly_prescriptions_{}.csv'.format(condition)
prescriptions = pd.read_csv(data_folder + f).rename(columns={'WD18CD':'ward_code'})

df_hypertension = prescriptions[prescriptions['year']==2020]

df_hypertension=df_hypertension[['LSOA_CODE', 'Total_quantity_per_capita']].rename(\
            columns={'Total_quantity_per_capita':\
                     'Total_quantity_per_capita'.replace('Total', condition)})

df_hypertension.head()

        LSOA_CODE  hypertension_quantity_per_capita
164186  E01000001                          1.047404
164187  E01000002                          1.341916
164188  E01000003                          2.189897
164189  E01000005                          1.447732
164190  E01000006                         36.456869

# Depression

In [10]:
condition = 'depression'
f = 'yearly_prescriptions_{}.csv'.format(condition)
prescriptions = pd.read_csv(data_folder + f).rename(columns={'WD18CD':'ward_code'})

df_depression = prescriptions[prescriptions['year']==2020]

df_depression=df_depression[['LSOA_CODE', 'Total_quantity_per_capita']].rename(\
            columns={'Total_quantity_per_capita':\
                     'Total_quantity_per_capita'.replace('Total', condition)})

df_depression.head()

        LSOA_CODE  depression_quantity_per_capita
164186  E01000001                        0.262661
164187  E01000002                        0.378103
164188  E01000003                        0.738527
164189  E01000005                        0.827553
164190  E01000006                        5.625583

# Anxiety

In [11]:
condition = 'anxiety'
f = 'yearly_prescriptions_{}.csv'.format(condition)
prescriptions = pd.read_csv(data_folder + f).rename(columns={'WD18CD':'ward_code'})

df_anxiety = prescriptions[prescriptions['year']==2020]

df_anxiety=df_anxiety[['LSOA_CODE', 'Total_quantity_per_capita']].rename(\
            columns={'Total_quantity_per_capita':\
                     'Total_quantity_per_capita'.replace('Total', condition)})

df_anxiety.head()

        LSOA_CODE  anxiety_quantity_per_capita
164186  E01000001                     0.195967
164187  E01000002                     0.275255
164188  E01000003                     0.530043
164189  E01000005                     0.481856
164190  E01000006                     4.351535

# Merge

In [12]:
DF = df_diabetes.merge(df_opioids, on=['LSOA_CODE']).\
    merge(df_total, on=['LSOA_CODE']).\
    merge(df_asthma, on=['LSOA_CODE']).\
    merge(df_hypertension, on=['LSOA_CODE']).\
    merge(df_depression, on=['LSOA_CODE']).\
    merge(df_anxiety, on=['LSOA_CODE'])

In [13]:
DF.head()

,LSOA_CODE,diabetes_quantity_per_capita,opioids_quantity_per_capita,OME_per_capita,total_quantity_per_capita,asthma_quantity_per_capita,hypertension_quantity_per_capita,depression_quantity_per_capita,anxiety_quantity_per_capita
0,E01000001,0.834958,0.129840,1.134302,13.827180,0.139674,1.047404,0.262661,0.195967
1,E01000002,0.957987,0.276066,2.587085,20.134107,0.203468,1.341916,0.378103,0.275255
2,E01000003,1.532698,0.592661,5.072608,36.871135,0.361956,2.189897,0.738527,0.530043
3,E01000005,0.918772,0.250619,2.218236,24.657966,0.359229,1.447732,0.827553,0.481856
4,E01000006,33.986967,4.982723,191.202486,545.239412,5.155322,36.456869,5.625583,4.351535

In [14]:
DF.rename(columns={'LSOA_CODE':'geography code'}, inplace=True)

# Save

In [15]:
DF.to_csv('../data/glavni/outcomes.csv', index=None)